rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /hotels/{hotelId} {
      allow read: if true;
      allow create: if true; // TODO: tighten once partner auth is added
      allow update, delete: if false;
    }
    match /registrations/{registrationId} {
      allow read, write: if true; // TODO: tighten once admin auth is added
    }
  }
}
